@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}

$color1: #594B02;
$color2: #F6CE77;
$color3: #F2DFBB;


.navbar {
    background-color: $color1;

}

.navbar-brand {
    color: white !important;
    text-shadow: 0 0 5px black;

    img {
        height: 55px;
        width: 60px;
    }
}

.nav-link {
    color: white;

    &:hover {
        color: yellow !important;
    }
}

h2 {
    text-align: center;
    background-color: #F2CB05;
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-style: italic;

}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pright {
    background-image: url(../imagenes/imagenNosotros.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;

}

.pleft {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);
    height: 350px;


}

.pleft-index {
    height: 500px;
}

.nLeft {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);
    height: 350px;
}

.nRight {
    background-image: url(../imagenes/imagenNosotros.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.nLeft2 {
    background-image: url(../imagenes/fideosNosotros.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.nRight2 {
    background-color: $color2;
    background-image: linear-gradient(298deg, $color2 0%, $color3 100%);
    height: 350px;
}

.nRight3 {
    background-image: url(../imagenes/nosotrospastas.jpg);
    height: 350px;
    ;
    background-size: cover;
    background-position: center;

}

.nLeft3 {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);
    height: 350px;
}

.sobreNosotros {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.jumbotron {
    width: 100%;
    color: rgba($color: #000000, $alpha: 0.1);
    text-align: center;
    height: 200px;
    font-weight: bold;
    border-bottom: 0;
    background-image: url(../imagenes/fotojumbotron.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}

h1,
.fa-solid,
.pJumbotron {
    text-shadow: 0 0 5px black;
}

.nleft {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);

    h3 {
        margin-top: 10px;
        background-color: #FFEB3B;
        font-style: italic;
    }
}


.btn:hover {
    transform: translate(30px);
    transition: 1s;
}

.d-block {
    width: 100%;
    max-height: 500px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
}

.contenedorImagen {
    border: 2px solid black;
    padding: 15px;
    max-width: 100%;
    height: auto;

    img.correctorAltura {
        height: 200px;
        object-fit: cover;
        width: 416px;
    }
}

.accordion-button {
    color: $color1 !important;
    font-size: 40px;
}

.accordion-button::after {
    color: $color1 !important;
    ;
}

.col-md-4 {
    margin-bottom: 20px;
}

.contenedorVideo {
    border: 2px solid black;
    padding: 15px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

body {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, #F7CE68 100%);
}


h3 {
    background-color: #FFEB3B;
    font-style: italic;
    font-size: 45px;
}

p {
    font-size: 25px;
}

.containerContacto {

    width: 100%;
    color: rgba($color: #000000, $alpha: 0.1);
    text-align: center;
    height: 100%;
    font-weight: bold;
    border-bottom: 0;
    background-image: url(../imagenes/fotojumbotronbyn.jpg);
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    input {
        width: 100%;
        width: 700px;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 10px
    }

    textarea {
        width: 100%;
        width: 700px;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 10px;
    }
}


.containerUbicacion {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    ;
}

#food-menu {
    background-color: $color2;
    background-image: linear-gradient(62deg, $color2 0%, $color3 100%);
}

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;


    img {
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}


.recetas-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
}

.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}


.recetas-menu-item {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    margin-right: 20px;
}

.recetas-img {
    max-width: 100%;
    height: auto;


}

.recetas-description {
    text-align: center;
}

.recetas-titile {
    margin-top: 10px;

}

.recetas-img iframe {
    width: 100%;
    height: 200px;
}

/*inicio css del footer*/

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    width: 100%;


    .redes {
        a {
            text-decoration: none;
        }

        i {
            color: #FFC107;
            font-size: 40px;
            letter-spacing: 10px;

            &:hover {
                color: $color1;
                ;
            }
        }
    }
}

/*--mediaqueries--*/
@media screen and (max-width: 575px) {
    .row {
        flex-direction: column;
    }

    .pleft-index {
        order: 1;
    }

    .pright {
        order: 2;
        height: 300px;
    }

    .nLeft2 {
        order: 2;
    }

    .nRight2 {
        order: 1;
    }

    .recetas-menu-item {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 576px) and (max-width: 752px) {
    .pleft-index p {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1920px) {
    .navbar {
        height: 120px;
    }

    .navbar-brand {
        font-size: 25px;
    }

    .nav-link {
        font-size: 22px;
        margin-right: 20px;

        &.active {
            margin-left: 20px;
        }
    }
}

@media screen and (min-width:758px) and (max-width:1128px) {
    .pNosotros {
        font-size: 20px;
    }
}

@media screen and (min-width:572px) and (max-width:758px) {
    .pNosotros {
        font-size: 16px;
    }

    .containerContacto {
        input {
            width: 100%;
            width: 500px;
            margin-bottom: 10px;
            font-size: 18px;
            padding: 10px
        }

        textarea {
            width: 100%;
            width: 500px;
            margin-bottom: 10px;
            font-size: 18px;
            padding: 10px;
        }
    }

}

@media screen and (min-width:320px) and (max-width:572px) {
    .pNosotros {
        font-size: 16px;
    }

    .containerContacto {
        input {
            width: 100%;
            width: 300px;
            margin-bottom: 10px;
            font-size: 18px;
            padding: 10px
        }

        textarea {
            width: 100%;
            width: 300px;
            margin-bottom: 10px;
            font-size: 18px;
            padding: 10px;
        }
    }
    h1,
.fa-solid,
.pJumbotron {
    text-shadow: 0 0 5px black;
    font-size: 22px;
}

body {
	width: 100%;
}
footer {
	width: 100%;
}
.food-menu-item {
	flex-direction: column;
	align-items: center;
	.food-description {
		text-align: center;
	}
}
}



/*fin scss del footer*/